.top-85 {
    top: 85%;
}
.dropdown-content{
    background-color: #ffffff;
    width: 200px;
    border: 1px solid #ffffff;
}
.dropdown-content:hover {
    background-color: #1e61fb;
    color: #ffffff;
}
.w-80px{
    width: 80px;
}
.w-200px{
    width: 200px;
}

@media screen and (max-width: 380px) {
    .w-80px{
        width: 70px;
    }
    .w-200px{
        width: 170px;
    }
}

@media screen and (max-width: 300px) {
    .w-200px{
        width: 100px;
    }
}