<div class="w-100 py-4">
    <div class="w-75 m-auto">
        <h1 class="text-primary my-3">Favorites</h1>
        <div class="border border-primary rounded p-3 m-2 w-card float-start pointer min-h" 
        *ngFor="let favorite of favorites | async"
        (click)="navigateFavoriteToMain(favorite)">
          <p class="text-primary text-center h4 mb-3">{{favorite.cityName}}</p>
          <p class="text-primary text-center h5 mb-5">{{favorite.currentWeather}}°C</p>
          <p class="text-primary text-center h4">{{favorite.weatherName}}</p>
        </div>
    </div>
</div>
